[submodule "HoloLensCamCalib"]
	path = HoloLensCamCalib
	url = https://github.com/michbaum/HoloLensCamCalib
[submodule "HoloLensForCV"]
	path = HoloLensForCV
	url = https://github.com/michbaum/HoloLensForCV
